In [1]:
import pandas as pd

In [4]:
pizza_8358 = pd.read_csv('8358_1.csv')
pizza_Datafiniti = pd.read_csv('Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_Jun19.csv')

In [8]:
pizza_8358.columns

Index(['id', 'address', 'categories', 'city', 'country', 'keys', 'latitude',
       'longitude', 'menuPageURL', 'menus.amountMax', 'menus.amountMin',
       'menus.currency', 'menus.dateSeen', 'menus.description', 'menus.name',
       'name', 'postalCode', 'priceRangeCurrency', 'priceRangeMin',
       'priceRangeMax', 'province'],
      dtype='object')

In [12]:
new_cols_pizza_8358 = pizza_8358[['address', 'categories', 'city', 'country', 'latitude',
                                  'longitude', 'menus.amountMax', 'menus.amountMin',
                                  'menus.name','name', 'postalCode', 'province']]

In [14]:
new_cols_pizza_8358.head(1)

,address,categories,city,country,latitude,longitude,menus.amountMax,menus.amountMin,menus.name,name,postalCode,province
0,Cascade Village Mall Across From Target,Pizza Place,Bend,US,44.102665,-121.300797,22.5,15.5,Bianca Pizza,Little Pizza Paradise,97701,OR

In [15]:
pizza_Datafiniti.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.currency',
       'menus.dateSeen', 'menus.description', 'menus.name', 'name',
       'postalCode', 'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax',
       'province'],
      dtype='object')

In [16]:
pizza_Datafiniti.head(1)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.8323,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR

In [17]:
new_cols_pizza_Datafiniti= pizza_Datafiniti[['address', 'categories','primaryCategories','city', 'country',
                                             'latitude', 'longitude','menus.amountMax', 'menus.amountMin',
                                             'menus.name', 'name','postalCode', 'province']]

In [34]:
new_cols_pizza_Datafiniti.head(1)

,address,categories,primaryCategories,city,country,latitude,longitude,menus.amountMax,menus.amountMin,menus.name,name,postalCode,province
0,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,34.8323,-92.1838,7.98,7.98,Cheese Pizza,Shotgun Dans Pizza,72120,AR

In [33]:
new_cols_pizza_8358.count()

address            3510
categories         3510
city               3510
country            3510
latitude           3510
longitude          3510
menus.amountMax    2948
menus.amountMin    2948
menus.name         3510
name               3510
postalCode         3484
province           3510
dtype: int64

In [35]:
drop_pizza_8358 = new_cols_pizza_8358.dropna()

In [36]:
drop_pizza_8358.count()

address            2922
categories         2922
city               2922
country            2922
latitude           2922
longitude          2922
menus.amountMax    2922
menus.amountMin    2922
menus.name         2922
name               2922
postalCode         2922
province           2922
dtype: int64

In [37]:
new_cols_pizza_Datafiniti.count()

address              10000
categories           10000
primaryCategories    10000
city                 10000
country              10000
latitude             10000
longitude            10000
menus.amountMax      10000
menus.amountMin      10000
menus.name           10000
name                 10000
postalCode            9996
province             10000
dtype: int64

In [38]:
drop_pizza_Datafiniti = new_cols_pizza_Datafiniti.dropna()

In [39]:
drop_pizza_Datafiniti.count()

address              9996
categories           9996
primaryCategories    9996
city                 9996
country              9996
latitude             9996
longitude            9996
menus.amountMax      9996
menus.amountMin      9996
menus.name           9996
name                 9996
postalCode           9996
province             9996
dtype: int64

In [49]:
clean_pizza_8358 = drop_pizza_8358.rename(columns={
    'menus.amountMax':'menus max amount',
    'menus.amountMin':'menus min amount',
    'menus.name':'menus name',
    'postalCode':'postal code'
})

In [50]:
clean_pizza_8358.head()

,address,categories,city,country,latitude,longitude,menus max amount,menus min amount,menus name,name,postal code,province
0,Cascade Village Mall Across From Target,Pizza Place,Bend,US,44.102665,-121.300797,22.50,15.50,Bianca Pizza,Little Pizza Paradise,97701,OR
1,Cascade Village Mall Across From Target,Pizza Place,Bend,US,44.102665,-121.300797,18.95,18.95,Cheese Pizza,Little Pizza Paradise,97701,OR
2,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,34.064563,-118.469017,12.00,12.00,"Pizza, Margherita",The Brentwood,90049,Brentwood
3,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,34.064563,-118.469017,13.00,13.00,"Pizza, Mushroom",The Brentwood,90049,Brentwood
4,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,34.064563,-118.469017,13.00,13.00,"Pizza, Puttenesca",The Brentwood,90049,Brentwood

In [51]:
drop_pizza_Datafiniti.head()

,address,categories,primaryCategories,city,country,latitude,longitude,menus.amountMax,menus.amountMin,menus.name,name,postalCode,province
0,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,34.832300,-92.183800,7.98,7.98,Cheese Pizza,Shotgun Dans Pizza,72120,AR
1,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,33.509266,-112.073044,6.00,6.00,Pizza Cookie,Sauce Pizza Wine,85012,AZ
2,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,39.144883,-84.432685,6.49,6.49,Pizza Blanca,Mios Pizzeria,45209,OH
3,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,42.516669,-83.106630,5.99,5.99,Small Pizza,Hungry Howies Pizza,48071,MI
4,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,39.286630,-76.566984,5.49,5.49,Pizza Sub,Spartan Pizzeria,21224,MD

In [52]:
clean_pizza_Datafiniti = drop_pizza_Datafiniti.rename(columns={
    'primaryCategories':'primary categories',
    'menus.amountMax':'menus max amount',
    'menus.amountMin':'menus min amount',
    'menus.name':'menus name',
    'postalCode':'postal code'
})

In [53]:
clean_pizza_Datafiniti.head()

,address,categories,primary categories,city,country,latitude,longitude,menus max amount,menus min amount,menus name,name,postal code,province
0,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,34.832300,-92.183800,7.98,7.98,Cheese Pizza,Shotgun Dans Pizza,72120,AR
1,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,33.509266,-112.073044,6.00,6.00,Pizza Cookie,Sauce Pizza Wine,85012,AZ
2,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,39.144883,-84.432685,6.49,6.49,Pizza Blanca,Mios Pizzeria,45209,OH
3,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,42.516669,-83.106630,5.99,5.99,Small Pizza,Hungry Howies Pizza,48071,MI
4,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,39.286630,-76.566984,5.49,5.49,Pizza Sub,Spartan Pizzeria,21224,MD

In [54]:
clean_pizza_8358.to_csv(r'/Users/zackmccann/etl_project/pizza_8357.csv')
clean_pizza_Datafiniti.to_csv(r'/Users/zackmccann/etl_project/pizza_Datafiniti.csv')